
$tablet-breakpoint: 992px;
$mobile-breakpoint: 420px;

.bodyinfo{
    width: auto;
    height: auto;
    .bodyinfo-container{
        width: 68%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        margin-top:30px;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 550;
        @media (max-width: $tablet-breakpoint){    
            width: 80%;
            font-size: 12px;
        }
        .bodyinfo-items{
            line-height: 2.3;
        }
        .bodyinfo-items:nth-child(2){
            border-left: 1px solid #c2c2c2;
            border-right: 1px solid #c2c2c2;
            padding-left: 90px;
            padding-right: 90px;
            @media (max-width: $tablet-breakpoint){    
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
    .bodyinfo-imgs{
        width: 100%;
        margin-top:50px;  
        margin-bottom:40px;  
        .imgs-container1{
            width: 77%;
            margin-bottom: 10px;
            display: flex;  
            margin: 0 auto;
            justify-content: space-between;
            @media (max-width: $tablet-breakpoint){    
                width: 75%;
            }
            .imgs-container1-child{
                @media (max-width: $tablet-breakpoint){    
                    width: 50%;
                    display: flex;
                    flex-direction: column;  
                }
                img{
                    @media (max-width: $tablet-breakpoint){    
                        width: 97%;
                        height: 50%;
                    }
                }
            }
            img{
                @media (max-width: $tablet-breakpoint){    
                    width: 50%;
                }
            }
        }
        .imgs-container2{
            width: 77%;
            margin-bottom: 10px;
            display: flex;  
            margin: 0 auto;
            justify-content: space-between;
            @media (max-width: $tablet-breakpoint){    
                width: 75%;
                padding-top:10px;
            }
            .imgs-container2-child{
                padding-left:10px;
                
                @media (max-width: $tablet-breakpoint){    
                    width: 50%;
                    display: flex;
                    flex-direction: column; 
                    padding-left:0;
                }
                img{
                    @media (max-width: $tablet-breakpoint){    
                        width: 100%;
                        height: 50%;
                    }
                }
            }
            img{
                padding-top:10px;
                @media (max-width: $tablet-breakpoint){    
                    width: 48.5%;
                }
            }
        }
    }

}