.gioithieu{
    .link{
        padding-top:7rem;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 2.3rem;
        border-bottom: 1px dashed #e6e6e6;
        justify-content: space-between;
        .NavLink{
            color: #737373;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            width: 100%;
        }
        .NavLink:first-child::after{
            content:">";
        }
        .NavLink:last-child{
            color: #789629;
        }
    }
}