@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
$tablet-breakpoint: 992px;
$mobile-breakpoint: 420px;

.bodyinfo-slides{
    width: 50%;
    justify-content: space-between;
    margin: 0 auto; 
    background-image: url("../../assets/images/feedback--background.png");
    background-repeat: no-repeat;
    background-position: 750px;
    margin-bottom:50px;
    margin-left:50px;
    @media (max-width: $tablet-breakpoint){    
        width: 80%;
        background-position: 250px 60px;
        padding-bottom:90px;
    }
    .bodyinfo-person{
        display: flex;
        @media (max-width: $tablet-breakpoint){
            width: 80%;
        }
        .person-mau{    
            display: flex;
            line-height: 1.5;          
            margin-top:50px;  
            padding-left:120px; 
            z-index: 1;   
            @media (max-width: $tablet-breakpoint){
                width: 40%;
                height: 40%;
                padding-left:60px;
                
            }
            img{
                padding: 10px;
                border: 2px solid #cbd4b3;
                border-radius: 100px;
                @media (max-width: $tablet-breakpoint){
                    width: 50%;
                    height:50%;
                }
            }        
            .person-text{
                margin-top: 15px;
                margin-left: 55px;
                color: #131313;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                line-height: 25px;
                @media (max-width: $tablet-breakpoint){
                    width: 100%;
                    font-size: 14px;   
                    position: fixed; 
                    padding-left:100px;
                    margin-top:0;
                }
                p:nth-child(2){
                    padding-top:20px;
                    span{
                        color: #737373;
                        font-size: 14px;
                        font-style: italic;
                    }
                }
            }
        }
    }
}