// .product-container{

// }
























.products{
    max-height: 120%;
    width: 85%;
    margin: 0 auto;
    background-image: url("../../assets/images/hot-product--background.png");
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-size:cover;
}



.product-container{
    width: 50%;
    height:28rem;
    img{
        margin: 0 auto;
    }
    .table-price{
        background-color: #fff;
        text-align: center;
        line-height: 1;
        border-top: 1px dashed #e6e6e6;
        padding-top:20px; ;
        height:10rem;
        .product-title{
            margin-bottom: 10px;
            color: #b4b4b4;
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .product-name{
            color: #000;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
        }
        .line{
            border: 1px solid #c2c2c2;
            width: 37px;
            margin: 12px auto;
        }
        .text-price{
            display:flex;
            width:60%;
            margin: 0 auto;
            justify-content: space-evenly;
            text-align: center;
            .price1{
                color: #789629;          
                font-size: 14px;
                font-family: "utm-androgyne", sans-serif;
                vertical-align: baseline;
                padding-left: 30px;
                span{
                    display:inline-block;
                    vertical-align: super;
                }
            }
            .price2{
                color: #b4b4b4;          
                font-size: 14px;
                font-family: "utm-androgyne", sans-serif;
                vertical-align: baseline;
                span{
                    display:inline-block;
                    vertical-align: super;
                }
            }
                        
        }
        .button-{
            display:none;
            border-color:wheat;
            margin: 0 auto;
            width: 60%;
    }   
}
}
.product-container:hover{
    .table-price:hover{ 
        .button-{
            margin: 0 auo;
            
            display:flex;
            padding-top:30px;
            padding-bottom:20px;
            justify-content: space-evenly;
            border-color:wheat;
            .button-price{
                Button{
                    border:2px solid #A9A9A9;
                    background-color: white;
                    width: 120px;
                    height: 35px;
                    border-radius: 200px;
                    color: #000;
                    font-family: "Open Sans", sans-serif;
                    font-size: 11px;
                    font-weight: 600;
                    text-transform: uppercase;
                    &:hover{
                        background-color:#7ba12d;
                        color: white;
                    }
                }
            }
            .button-heart{
                Button{
                    border:2px solid #A9A9A9;                        background-color: white;
                    color: #000;
                    width: 35px;
                    height: 35px;
                    &:hover{
                        background-color:#7ba12d;
                        color: white;
                    }
                    img{
                        width:15px;  
                        height:20px;
                        padding-top:5px;  
                    }
                }
            }
            .button-reload{
                Button{
                    border:2px solid #A9A9A9;
                    background-color: white;
                    color: #000;
                    width: 35px;
                    height: 35px;
                    &:hover{
                        background-color:#7ba12d;
                        color: white;
                    }
                    img{
                        width:15px;  
                        height:20px;
                        padding-top:5px;  
                    }
                }
            }
        }
    }
}